// Colores de fondo
$fondo: linear-gradient(1deg, rgba(14, 102, 85, 1) 0%, rgba(52, 73, 94, 1) 100%);
$fondo-nav-resp: linear-gradient(1deg, rgba(242, 243, 244, 1) 0%, rgba(33, 47, 61, 1) 100%);

// Colores de textos
$col-txt-resp:#0b5345;
$col-nav: #d0ece7;
$col-logo: #b0bec5;

// Color Hover
$nav-hover: #f1c40f;

// Tamaño de letra
$txt-size-title: 2.4rem;
$txt-size-item: 1.4em;
$txt-size-resp: 0.9em;