@use 'reset.scss';
@use 'nav.scss';
@use 'RDW.scss';

// Variables Globales
// Colores de fondo
$color-fondo: #aab7b8;
$fondo: linear-gradient(1deg, #273746 0%, #95a5a6 100%);

// Colores de textos
$col-txt: #FDFEFE;
$col-tit: #660000;

body{
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100dvh;
    position: relative;
    scroll-behavior: smooth;
}

footer{
    position: absolute;
    background-color: #660000;
    width: 100dvw;
    height: 240px;
    display: grid;
    
}

.fa-whatsapp{
    color: #25d366;
}
.fa-telegram{
    color:#0088cc;
}
.fa-envelope{
    color:#0A2767;
}

section[id]{
    scroll-margin-top: 80px;
}